<header>

	<img class='goal_header_img' src='/images/logo_50.jpg' alt='Bacon logo' title='Eat more bacon'>
	<h1 class='goal_header_h'>Your daily goals</h1>
	<p class='goal_header_p'>Hi, <span class='goal_header_span'><%= currentUser.name %></span></p>

	<nav>
		<a href='/goal' class='btn btn-primary'>Goal</a>
		<a id='test' class='btn btn-primary'>Diary</a>
		<a href='/search' class='btn btn-primary'>Add Food</a>
		<a href = '/logout' class="btn btn-primary">Log out</a>

	</nav>

</header>

<main>
		
	<form id='test2' action="/diary" method="GET" role="form">
		<legend>Daily Goals</legend>

		<div class="form-group">
			<label class='goal_form_label' for="">Calories</label>
			<input name='calories' class='goal_input_gram' id='' type="text" class="form-control" value='<%= user.calories %>'>
			<br>

			<label class='goal_form_label' for="">Carbohydrate</label>
			<input name='carb' class='goal_input_gram' id='' type="text" class="form-control" value='<%= (user.carbPercent * user.calories) / 100 %>'>
			<input class='goal_input_percent' id='' type="text" class="form-control" value='<%= user.carbPercent %>%'>
			<br>

			<label class='goal_form_label' for="">Fat</label>
			<input name='fat' class='goal_input_gram' id='' type="text" class="form-control" value='<%= (user.fatPercent * user.calories) / 100 %>'>
			<input class='goal_input_percent' id='' type="text" class="form-control" value='<%= user.fatPercent %>%'>
			<br>

			<label class='goal_form_label'for="">Protein</label>
			<input name='protein' class='goal_input_gram' id='' type="text" class="form-control" value='<%= (user.proteinPercent * user.calories) / 100 %>'>
			<input class='goal_input_percent' id='' type="text" class="form-control" value='<%= user.proteinPercent %>%'>

			<br>

			<!-- <button type='submit' class="btn btn-primary">Diary</button> -->
		</div>

	</form>

	<a id='modal_trigger' href='#modal' class="btn btn-primary">Change your goal</a>

	<div id='modal' class='popupContainer' style='display:none;'>
		<section class='popupHeader'>
			<span class='header_title'>Change your daily goal</span>
			<span class='modal_close'><i class='fa fa-times'></i></span>
		</section>

		<section class='popupBody'>

			<div class='user_register'>

				<form method='POST' action='/goal/changeGoal'>

					<label>Calories</label>
					<input name='calories' type='text' placeholder='i.e. 1500'>
					</br>

					<label>Carbohydrates percent</label>
					<input name='carbPercent' type='text' placeholder='i.e. 5'>
					</br>

					<label>Fat percent</label>
					<input name='fatPercent' type='text' placeholder='i.e. 75'>
					</br>

					<label>Protein percent</label>
					<input name='proteinPercent' type='text' placeholder='i.e. 20'>
					</br>

					<div class='action_btns'>
						<div>
							<input type='submit' class="btn btn_red">
						</div>	
					</div>
				</form>
			</div>
		</section>
	</div>

</main>






