<header>

	<img class='goal_header_img' src='/images/logo_50.jpg' alt='Bacon logo' title='Eat more bacon'>
	<h1 class='goal_header_h'>Diary</h1>
	<p class='goal_header_p'>Hi, <span class='goal_header_span'><%= currentUser.name %></span></p>

</header>

<main>

	<table>
		<tr>
			<th>Food name</th>
			<th>Calories</th>
			<th>Carbohydrate</th>
			<th>Fat</th>
			<th>Protein</th>
			<th>Quantity</th>
		</tr>
	</table>

	<table class='newFood'>
		
	<% logs.forEach(function(logs) { %>
		<tr>
			<th><%= logs.nutrient.dataValues.foodName %></th>
			<td class='calories'><%= logs.nutrient.dataValues.calories %></td>
			<td class='carb'><%= logs.nutrient.dataValues.carb %></td>
			<td class='fat'><%= logs.nutrient.dataValues.fat %></td>
			<td class='protein'><%= logs.nutrient.dataValues.protein %></td>
			<td><%= logs.nutrient.dataValues.quantity %></td>
		</tr>
	<% }); %>


		
	</table>

	<table>
		<tr>
			<th>Total</th>
			<td class='caloriesSum'></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>

		<tr>
			<th>Goal</th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>

		<tr>
			<th>Remaining</th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>

	</table>

</main>

<script>
	//currently not working	
	$(function() {
		var caloriesSum = 0;
		var carbSum = 0;
		var fatSum = 0;
		var proteinSum = 0;

		$('.newFood .calories').each(function() {
			caloriesSum += parseFloat($(this).text());
		});

		$('.caloriesSum').attr('value', caloriesSum);

	});

</script>

