<header>

	<img class='goal_header_img' src='/images/logo_50.jpg' alt='Bacon logo' title='Eat more bacon'>
	<h1 class='goal_header_h'>Daily log</h1>
	<p class='goal_header_p'>Hi, <span class='goal_header_span'><%= currentUser.name %></span></p>

</header>

<hr>

<main class='mainLog'>

	<table>
		<tr>
			<th class='long'>Food name</th>
			<th>Calories</th>
			<th>Carbohydrate</th>
			<th>Fat</th>
			<th>Protein</th>
			<th>Quantity</th>
		</tr>
	</table>

	<table class='newFood'>
		
	<% logs.forEach(function(logs) { %>
		<tr>
			<th class='long'><%= logs.nutrient.dataValues.foodName %></th>
			<td class='calories'><%= logs.nutrient.dataValues.calories %></td>
			<td class='carb'><%= logs.nutrient.dataValues.carb %></td>
			<td class='fat'><%= logs.nutrient.dataValues.fat %></td>
			<td class='protein'><%= logs.nutrient.dataValues.protein %></td>
			<td><%= logs.nutrient.dataValues.quantity %></td>
		</tr>
	<% }); %>
	
	</table>

	<table>
		<tr>
			<th class='long'>Total</th>
			<td class='caloriesSum'></td>
			<td class='carbSum'></td>
			<td class='fatSum'></td>
			<td class='proteinSum'></td>
			<td>N/A</td>
		</tr>

		<tr>
			<th class='long'>Goal</th>
			<td class='goalCalories'><%= goal.calories %></td>
			<td class='goalCarb'><%= goal.carbGram %></td>
			<td class='goalFat'><%= goal.fatGram %></td>
			<td class='goalProtein'><%= goal.proteinGram %></td>
			<td>N/A</td>
		</tr>

		<tr>
			<th class='long'>Remaining</th>
			<td class='remainCalories'></td>
			<td class='remainCarb'></td>
			<td class='remainFat'></td>
			<td class='remainProtein'></td>
			<td>N/A</td>
		</tr>

	</table>

</main>

<script>
	$(function() {
		var caloriesSum = 0;
		var carbSum = 0;
		var fatSum = 0;
		var proteinSum = 0;
		var remainCalories = 0;
		var remainCarb = 0;
		var remainFat = 0;
		var remainProtein = 0;

		$('.newFood .calories').each(function() {
			caloriesSum += parseFloat($(this).text());
		});
		$('.newFood .carb').each(function() {
			carbSum += parseFloat($(this).text());
		});
		$('.newFood .fat').each(function() {
			fatSum += parseFloat($(this).text());
		});
		$('.newFood .protein').each(function() {
			proteinSum += parseFloat($(this).text());
		});

		$('.caloriesSum').text(caloriesSum);
		$('.carbSum').text(carbSum);
		$('.fatSum').text(fatSum);
		$('.proteinSum').text(proteinSum);

		remainCalories = parseFloat($('.goalCalories').text()) - parseFloat($('.caloriesSum').text());
		remainCarb = parseFloat($('.goalCarb').text()) - parseFloat($('.carbSum').text());
		remainFat = parseFloat($('.goalFat').text()) - parseFloat($('.fatSum').text());
		remainProtein = parseFloat($('.goalProtein').text()) - parseFloat($('.proteinSum').text());
		$('.remainCalories').text(remainCalories);
		$('.remainCarb').text(remainCarb);
		$('.remainFat').text(remainFat);
		$('.remainProtein').text(remainProtein);

	});

</script>

