<div class="quantity">
	<form action='/quantity/<%= data.report.foods[0].ndbno %>' method='POST' role='form'>

		<span>Food name:</span>
		<input type='hidden' name='foodName' value='<%= data.report.foods[0].name %>'>
		<br>

		<span>ndbno:</span>
		<input type='hidden' name='ndbno' value='<%= data.report.foods[0].ndbno %>'>
		<br>

		<span>Carb:</span>
		<%= data.report.foods[0].nutrients[2].value %>
		<br>

		<span>Fat:</span>
		<%= data.report.foods[0].nutrients[1].value %>
		<br>

		<span>Protein:</span>
		<%= data.report.foods[0].nutrients[0].value %>

		<p>Quantity</p>
		<input id='quantity' type='text' name='quantity' value=''>
		<p>gram</p>
		<br>

		<p>Carb</p>
		<input id='carb' type='text' name='carb' value='<%=  data.report.foods[0].nutrients[2].value%>'>
		<p>Fat</p>
		<input id='fat' type='text' name='fat' value='<%=  data.report.foods[0].nutrients[1].value%>'>
		<p>Protein</p>
		<input id='protein' type='text' name='protein' value='<%= data.report.foods[0].nutrients[0].value %>'>
		<input id='calories' type='text' name='calories' value=''>

		<button type="submit" class="btn btn-primary">Add food</button>
	</form>
</div>

<script>

$(function() {
	


	$('#quantity').change(function() {		
		var quantityValue = parseFloat($('#quantity').val());
		var carbValue = parseFloat($('#carb').val()).toFixed(2);
		var fatValue = parseFloat($('#fat').val()).toFixed(2);
		var proteinValue = parseFloat($('#protein').val()).toFixed(2);
		
		carbValue = carbValue * quantityValue;
		fatValue = fatValue * quantityValue;
		proteinValue = proteinValue * quantityValue;

		// var newCarbValue = parseFloat(carbValue).toFixed(2);
		// var newFatValue = parseFloat(fatValue).toFixed(2);
		// var newProteinValue = parseFloat(proteinValue).toFixed(2);
		
		var caloriesValue = carbValue + fatValue + proteinValue;
		console.log(caloriesValue);
		// var newCaloriesValue = parseFloat(calories).toFixed(2);
		// console.log(newCaloriesValue);
				
		$('#carb').attr('value', carbValue);
		$('#fat').attr('value', fatValue);
		$('#protein').attr('value', proteinValue);
		$('#calories').attr('value', caloriesValue);
		
	});
});

</script>